.icosahedron-container {
   min-height: 315px;
}

.icosahedron {
   background-color: #255fff;
   width: 160px;
   height: 160px;
   position: relative;
   /* Make this an equilateral triangle */
   clip-path: polygon(0 0, 100% 0, 50% 85%);
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }

 @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }

.text {
    color: rgb(174, 196, 255);
    position: absolute;
    left: 50%;
    top: 25%;
    /* Center the element around its origin */
    transform: translate(-50%, -50%);
    font-size: larger;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    text-transform: uppercase;
    user-select: none;
}